___
# Ciência dos Dados - PROJETO 1

# ESTER DOS SANTOS QUINTINO
___

## Acesso à internet e TV

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Ester Quintino\Documents\GitHub\CienciaDosDados

In [14]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
Documento = pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [57]:
#Código do professor
dados=pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')
dados_resumidos=dados.loc[:,["V0205","V0105","V4621","V0226","UF"]]
dados_resumidos.to_csv("resumo.csv")
dados_resumidos.head()

   V0205  V0105   V4621  V0226  UF
0    4.0    1.0   800.0    2.0  11
1    NaN    NaN     NaN    NaN  11
2    2.0    1.0  1150.0    4.0  11
3    7.0    6.0   793.0    2.0  11
4    7.0    2.0  2900.0    4.0  11

In [48]:
#Código do Hélio
#tabela = pd.DataFrame({"Números de cômodo do domicílio":Documento.V0205,"Total de moradores":Documento.V0105,"Renda Percapita":Documento.V4621,"Número de televisões em cores":Documento.V0226,"Unidade da Federação":Documento.UF})

In [66]:
#Código do Hélio
#tabela_não_nula = tabela[pd.notnull(Documento.V0205)&pd.notnull(Documento.V0105)&pd.notnull(Documento.V4621)&pd.notnull(Documento.V0226)&pd.notnull(Documento.UF)]
#tabela_não_nula.head(10)

#Código do Professor
dados_não_nulos = dados_resumidos[pd.notnull(Documento.V0205)&pd.notnull(Documento.V0105)&pd.notnull(Documento.V4621)&pd.notnull(Documento.V0226)&pd.notnull(Documento.UF)]
dados_não_nulos.head()

   V0205  V0105   V4621  V0226  UF
0    4.0    1.0   800.0    2.0  11
2    2.0    1.0  1150.0    4.0  11
3    7.0    6.0   793.0    2.0  11
4    7.0    2.0  2900.0    4.0  11
5    6.0    1.0  1990.0    2.0  11

In [70]:
dados_não_nulos=dados_não_nulos.rename(columns={"V0205":"Números de cômodo do domicílio","V0105":"Total de moradores","V4621":"Renda percapita","V0226":"Número de televisões em cores","UF":"Unidade da Federação"})
#Caso o sua coluna contenha sim, não, Não sabe
#dados_não_nulos.V0205= Documentoastype("category")
#dados_não_nulos.V0205.cat.categories = {["Sim","Não","Não sabe"]}
dados_não_nulos.head()

,Números de cômodo do domicílio,Total de moradores,Renda percapita,Número de televisões em cores,Unidade da Federação
0,4.0,1.0,800.0,2.0,11
2,2.0,1.0,1150.0,4.0,11
3,7.0,6.0,793.0,2.0,11
4,7.0,2.0,2900.0,4.0,11
5,6.0,1.0,1990.0,2.0,11

___
## Conclusão

Descreva aqui suas conclusões!